.view-document-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    padding-right: 50px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%; 
    max-width: none; 
    margin-top: 20px;
    margin-bottom: 80px;
}

.grid-data {
    padding-left: 10px;
}