/* Author -  */
/* Shreya Kapoor */

.payment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-right: 50px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%; 
  max-width: none; 
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-title {
  margin-bottom: 20px;
  padding-bottom: 25px;
  font-weight: bold;
}

.pay-now-button {
  margin-top: 20px;
}

.input-field {
  margin-top: 15px !important;
  margin-bottom: 15px !important; 
  width: 100%; 
  padding: 15px; 
}

.back-icon {
  top: -10px;
  left: -190px;
}

@media (max-width: 600px) {
  .payment-form {
    width: 90%; 
  }
}
